.center{
	margin-left: auto;
	margin-right: auto;
}


html { 
  background: url(229-westerlund-21.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
}